<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
        <link rel="stylesheet" href="/css/chat_room.css" />

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/home.js"></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="background">
        <div>
            <div class="layout-chat-room">
                <div class="infor-user-search">
                    <p>hix</p>
                </div>

                <div class="list-room">
                    <div class="infor-room">
                        <p>start</p>
                        <p>nguyen hong son dep trai</p>
                        <p>nguyen hong son dep trai</p>
                        <p>nguyen hong son dep trai</p>
                        <p>nguyen hong son dep trai</p>
                        <p>nguyen hong son dep trai</p>
                        <p>nguyen hong son dep trai</p>
                        <p>nguyen hong son dep trai</p>
                        <p>nguyen hong son dep trai</p>
                    </div>
                </div>
            </div>

            <div class="layout-message">
                <div class="infor-person">
                    <img
                        src="https://i.pinimg.com/736x/23/e6/02/23e6029c5285471338418f1556811ce9.jpg"
                        class="image-user"
                    />

                    <h5>Nguyen Son</h5>
                </div>

                <div class="message">
                    <div class="form-message format-form-right">
                        <div class="content-message">
                            <small>Nguyen son</small>
                            <p>
                                Nguyen hong son dz ne Nguyen hong son dz
                                neNguyen hong son dz neNguyen hong son dz
                                neNguyen hong son dz ne
                            </p>
                        </div>
                    </div>

                    <div class="form-message">
                        <div class="content-message">
                            <small>Nguyen son</small>
                            <p>
                                Nguyen hong son dz ne Nguyen hong son dz
                                neNguyen hong son dz neNguyen hong son dz
                                neNguyen hong son dz ne
                            </p>
                        </div>
                    </div>

                    <div class="form-message format-form-right">
                        <div class="content-message">
                            <small>Nguyen son</small>
                            <p>
                                Nguyen hong son dz ne Nguyen hong son dz
                                neNguyen hong son dz neNguyen hong son dz
                                neNguyen hong son dz ne
                            </p>
                        </div>
                    </div>

                    <div class="form-message format-form-right">
                        <div class="content-message">
                            <small>Nguyen son</small>
                            <p>
                                Nguyen hong son dz ne Nguyen hong son dz
                                neNguyen hong son dz neNguyen hong son dz
                                neNguyen hong son dz ne
                            </p>
                        </div>
                    </div>

                    <div class="form-message format-form-right">
                        <div class="content-message">
                            <small>Nguyen son - 8:26 PM 13/12/2021</small>
                            <p>
                                Nguyen hong son dz ne Nguyen hong son dz
                                neNguyen hong son dz neNguyen hong son dz
                                neNguyen hong son dz ne
                            </p>
                        </div>
                    </div>

                    <div class="form-message format-form-right">
                        <div class="content-message">
                            <small>Nguyen son - 8:26 PM 13/12/2021</small>
                            <p>:v</p>
                        </div>
                    </div>
                </div>

                <div class="send-message">
                    <div class="form-input-message">
                        <form id="chat-form">
                            <input
                                id="msg"
                                type="text"
                                placeholder="Enter Message"
                                required
                                autocomplete="off"
                                autofocus
                            />
                            <button>SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
