<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <section id="home" class="full-height">
            <div>
                <h1 class="left-to-right show-on-scroll">
                    Chào mừng bạn đến với sositech.xyz
                </h1>
                <p class="left-to-right show-on-scroll">
                    Nhanh tay đăng ký hoặc đăng nhập để trò chuyện với mọi người
                    nhé
                </p>
            </div>
        </section>

        <section id="about" class="full-height">
            <div class="box show-on-scroll left-to-right">
                <h2>Đăng nhập</h2>
                <form
                    style="padding: 20px; height: 60vh"
                    method="post"
                    action="/login"
                    id="form-login"
                >
                    <div class="form-control" style="margin: 50px 0 20px 0">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Email"
                        />
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                        />
                        <span></span>
                        <small></small>
                    </div>
                    <input type="submit" value="Login" />
                </form>
            </div>
            <div class="box show-on-scroll right-to-left">
                <h2>Đăng ký nhanh</h2>
                <form
                    style="padding: 20px; height: 60vh"
                    action="/register"
                    method="post"
                    id="form-register"
                >
                    <div class="form-control">
                        <input
                            type="text"
                            id="username_r"
                            name="username"
                            placeholder="Your name"
                        />
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input
                            type="email"
                            id="email_r"
                            name="email"
                            placeholder="Email"
                        />
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input
                            type="password"
                            id="password_r"
                            name="password"
                            placeholder="Password"
                        />
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input
                            type="password"
                            id="password2_r"
                            name="password2"
                            placeholder="Confirm password"
                        />
                        <span></span>
                        <small></small>
                    </div>
                    <input type="submit" value="Register" />
                </form>
            </div>
        </section>

        <div id="team" class="full-height">
            <div class="person show-on-scroll zoom">
                <h3>Person 1</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                    repudiandae sequi, ad cum aperiam odit eius earum molestiae
                    voluptatem
                </p>
            </div>
            <div class="person show-on-scroll zoom">
                <h3>Person 2</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                    repudiandae sequi, ad cum aperiam odit eius earum molestiae
                    voluptatem
                </p>
            </div>
            <div class="person show-on-scroll zoom">
                <h3>Person 3</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                    repudiandae sequi, ad cum aperiam odit eius earum molestiae
                    voluptatem
                </p>
            </div>
        </div>

        <script>
            let elToShow = document.querySelectorAll('.show-on-scroll');

            let isElInViewPort = (el) => {
                let rect = el.getBoundingClientRect();
                // some browsers support innerHeight, others support documentElement.clientHeight
                let viewHeight =
                    window.innerHeight || document.documentElement.clientHeight;

                return (
                    (rect.top <= 0 && rect.bottom >= 0) ||
                    (rect.bottom >= viewHeight && rect.top <= viewHeight) ||
                    (rect.top >= 0 && rect.bottom <= viewHeight)
                );
            };

            function loop() {
                elToShow.forEach((item) => {
                    if (isElInViewPort(item)) {
                        item.classList.add('start');
                    } else {
                        item.classList.remove('start');
                    }
                });
            }

            window.onscroll = loop;

            loop();
        </script>

        <script src="/js/home.js"></script>
    </body>
</html>
