<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng ký tài khoản tại Sositech.xyz</title>

        <link rel="icon" href="/images/cupid.png" />

        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <main>
            <div class="form-input">
                <h1>Đăng nhập ngay để trải nghiệm dịch vụ</h1>

                <% if(error) {%>
                <p class="error" id="error"><%- error %></p>
                <% } %>

                <form action="/login" method="post" id="form-register">
                    <div class="data-form">
                        <p>Địa chỉ email</p>
                        <input
                            name="email"
                            id="email"
                            type="text"
                            placeholder="VD : example@gmail.com"
                        />
                        <p>Mật khẩu</p>
                        <input name="password" id="password" type="password" />
                    </div>
                </form>
                <button onclick="checkValidLogin()">Login</button>

                <span
                    >Bạn chưa có tài khoản ?
                    <a href="/register">Đăng ký ngay</a></span
                >
            </div>
        </main>

        <script src="/js/login.js"></script>
        <script src="/js/flower.js"></script>
    </body>
</html>
