<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>500 Internal Server Error</title>
    </head>
    <body
        style="
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
        "
    >
        <h1 style="font-size: 150px; margin-top: 50px">500</h1>
        <h1 style="font-size: 70px; margin-top: -50px">
            Internal Server Error
        </h1>
    </body>
</html>
