<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CV Nguyễn Hồng Sơn</title>
        <link rel="stylesheet" href="/css/cv.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="sideNav">
            <a class="navbar-brand" href="/">
                <span class="profile-name">Nguyễn Hồng Sơn</span>
                <span class="profile-image">
                    <img src="/images/profile.png" alt="image" />
                </span>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#about">about</a>
                    </li>
                    <li class="nav-item">
                        <a href="#education">education</a>
                    </li>
                    <li class="nav-item">
                        <a href="#skills">skills</a>
                    </li>
                    <li class="nav-item">
                        <a href="#projects">projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="#theend">the end</a>
                    </li>
                </ul>
            </div>

            <div class="earth-animation">
                <div class="satellite">
                    <i class="fa-solid fa-satellite"></i>
                </div>
                <div class="earth"></div>
            </div>
        </nav>

        <div class="container-fluid">
            <section id="about">
                <div class="information">
                    <div class="name-infor">
                        <h1>Nguyễn Hồng Sơn</h1>
                    </div>

                    <div class="address-info">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <h3 class="info-inline">
                            7B Ngõ 6 Mộ Lao, Hà Đông, Hà Nội
                        </h3>
                    </div>
                    <div class="address-info">
                        <i class="fa-solid fa-phone"></i>
                        <h3 class="info-inline">
                            0989706008
                        </h3>
                    </div>
                    <div class="mail-info">
                        <i class="fa-solid fa-at"></i>
                        <h3 class="info-inline">Nguyenson.66pt@gmail.com</h3>
                    </div>

                    <div class="general-information">
                        <p></p>
                            Cảm ơn các nhà tuyển dụng đã xem qua CV online của
                            tôi !
                        </p>
                        <div class="backend">
                            <i class="fa-brands fa-node-js" style="color: yellowgreen;"></i>
                            <h5 class="info-inline">Back-End:</h5>
                            <span
                                >Tôi có kiến thức về Framework Nodejs, Express
                                và làm việc với Javascript, MongoDB, MySQL,
                                ...</span
                            >
                        </div>
                        <div class="frontend">
                            <i class="fa-brands fa-html5" style="color: #ff6600;"></i>
                            <h5 class="info-inline">Front-End:</h5>
                            <span
                                >Tôi có kiến thức cơ bản về front-end : HTML,
                                CSS, JS và Bootstrap</span
                            >
                        </div>
                    </div>
                </div>

                <div class="contact">
                    <div class="icon facebook">
                        <a href="https://www.facebook.com/soicon.66/">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="icon github">
                        <a href="https://github.com/nguyenson66">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                    <div class="icon instagram">
                        <a href="https://www.instagram.com/sositech/">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </section>
            <section id="education">
                <h1>EDUCATION</h1>
                <div class="school">
                    <div class="course">
                        <h3>HỌC VIỆN CÔNG NGHỆ BƯU CHÍNH VIỄN THÔNG - PTIT</h3>
                        <h6>9/2019 - 9/2023</h6>
                    </div>
                    <h6>Chuyên ngành: Công nghệ thông tin</h6>
                    <div class="prize">
                        <h5>
                            <i class="fa-solid fa-trophy"></i> Giải thưởng
                            <i class="fa-solid fa-trophy"></i>
                        </h5>
                        <span
                            >- Giải khuyến kích cuộc thi lập trình ICPC PTIT
                            2020
                            <a
                                href="https://drive.google.com/file/d/1GdYwrZGDE8vdww2y9oTaB5irim0okKsN/view?usp=sharing"
                                >Chứng nhận</a
                            >
                        </span>
                    </div>
                </div>
            </section>
            <section id="skills">
                <h1>SKILLS</h1>

                <h5>PROGRAMMING LANGUAGES & TOOLS</h5>

                <div class="box">
                    <div class="icon">
                        <i
                            class="fa-brands fa-node-js"
                            style="color: greenyellow"
                            title="nodejs"
                        ></i>
                    </div>
                    <div class="icon">
                        <i
                            class="fa-brands fa-html5"
                            style="color: rgb(255, 104, 3)"
                            title="html"
                        ></i>
                    </div>
                    <div class="icon">
                        <i
                            class="fa-brands fa-css3"
                            style="color: rgb(44, 86, 255)"
                            title="css"
                        ></i>
                    </div>
                    <div class="icon">
                        <i
                            class="fa-brands fa-bootstrap"
                            style="color: rgb(0, 42, 255)"
                            title="bootstrap"
                        ></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-github" title="github"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-slack" title="slack"></i>
                    </div>
                    <div class="icon">
                        <i
                            class="fa-brands fa-npm"
                            style="color: rgb(255, 100, 100)"
                            title="npm"
                        ></i>
                    </div>

                    <div class="icon">
                        <i
                            class="fa-brands fa-java"
                            style="color: aqua"
                            title="java"
                        ></i>
                    </div>

                    <div class="icon-span">
                        <div class="icon">
                            <span
                                class="iconify"
                                data-icon="vscode-icons:file-type-js-official"
                                data-width="50"
                                data-height="50"
                                title="javascript"
                            ></span>
                        </div>
                        <div class="icon">
                            <span
                                class="iconify"
                                data-icon="bxl:mongodb"
                                data-width="50"
                                data-height="50"
                                style="color: green"
                                title="mongodb"
                            ></span>
                        </div>
                        <div class="icon">
                            <span
                                class="iconify"
                                data-icon="cib:mysql"
                                data-width="50"
                                data-height="50"
                                style="color: rgb(73, 137, 255)"
                                title="mySQL"
                            ></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects">
                <h1>PROJECTS</h1>
                <div class="box">
                    <div class="project">
                        <div class="title">
                            <i class="fa-solid fa-code"></i>
                            <h5>
                                Website chat Realtime với người lạ
                                (1/2022-2/2022)
                            </h5>
                        </div>

                        <div class="content">
                            <div class="tech">
                                <i class="fa-brands fa-sketch"></i>
                                <span
                                    >Công nghệ sử dụng : Nodejs, Express,
                                    Socket.io, Mongodb, html, css, js,
                                    bootstrap,..
                                </span>
                            </div>

                            <div class="source">
                                <i class="fa-brands fa-sketch"></i>
                                <span
                                    >Code :
                                    <a
                                        href="https://github.com/nguyenson66/sosi_chat"
                                        >Sosi_chat</a
                                    ></span
                                >
                            </div>
                            <div class="demo">
                                <i class="fa-brands fa-sketch"></i>
                                <span>
                                    Demo Website :
                                    <a href="http://sositech.xyz"
                                        >Sositech.xyz</a
                                    >
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project">
                        <div class="title">
                            <i class="fa-solid fa-code"></i>
                            <h5>Website bán điện thoại (9/2021-11/2021)</h5>
                        </div>

                        <div class="content">
                            <div class="tech">
                                <i class="fa-brands fa-sketch"></i>
                                <span
                                    >Công nghệ sử dụng : Nodejs, express, mySQL,
                                    html, css, js, bootstrap,..
                                </span>
                            </div>

                            <div class="source">
                                <i class="fa-brands fa-sketch"></i>
                                <span
                                    >Code :
                                    <a
                                        href="https://github.com/nguyenson66/smart_phone"
                                        >Smart_phone</a
                                    ></span
                                >
                            </div>
                            <div class="demo">
                                <i class="fa-brands fa-sketch"></i>
                                <span>
                                    Video demo :
                                    <a href="https://youtu.be/AFDlayvKXFM"
                                        >Youtube</a
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="theend"><h1>THE END</h1></section>
        </div>


        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>
        <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    </body>
</html>
