* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
}

.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* /////////////////////////////////////////////////////////// */

/* home */

.home {
    background-color: #f5efef;
    width: 100%;
}

.slide-show {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------- */

.conversation {
    width: 100%;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conversation-information {
    max-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.conversation-information h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.conversation-option {
    position: relative;
    display: inline-block;
}

.conversation-option img {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.list-option {
    display: none;
    position: absolute;
    border-radius: 10px;
    padding: 6px 0;
    right: 0;
    width: 350px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px rgb(165, 165, 165);
    z-index: 5;
}

.conversation-option:hover .list-option {
    display: block;
}

.option-content {
    padding: 10px;
    border-bottom: solid 0.5px rgb(151, 151, 151);
}

.option-content i {
    cursor: pointer;
}

.option-content i:active {
    transform: translateY(1px);
}

.option-content input {
    padding: 3px;
    width: 250px;
}

.option-content a {
    text-decoration: none;
    color: rgb(253, 95, 95);
}

.option-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation a:hover {
    text-decoration: none;
    color: rgb(253, 95, 95);
}

/* /// */

.name-conversation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.name-conversation img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    border: solid 0.5px pink;
    margin-right: 20px;
}

/* /// box message /// */

.box-message {
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

.message {
    margin-left: 5px;
}

.message.my-message {
    margin: 0 5px 0 0;
    display: flex;
    justify-content: right;
}

.message.my-message .message-content {
    background-color: rgb(134, 195, 252);
    border: solid 1px #fff;
}

/* .message.my-message .message-user {
    justify-content: left;
} */

.message-user {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.message-user img {
    height: 35px;
    width: auto;
    border-radius: 50%;
    border: solid 1px rgb(255, 255, 255);
}

.message-user p {
    font-size: 16px;
    text-align: center;
    margin: 2px 0 0 6px;
}

.message-content {
    max-width: 90vh;
    min-width: 20vh;
    width: fit-content;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: solid 1px rgb(92, 92, 255);
    background-color: #fff;
}

.content {
    word-wrap: break-word;
    font-size: 16px;
}

.content.sticker-message img {
    height: 20vh;
    width: auto;
}

.content.image-message img {
    max-width: 65vh;
    height: auto;
}

.time-send {
    font-size: 13px;
}

.typing-animation {
    display: none;
    background-color: #fff;
    width: fit-content;
    padding: 2px 20px;
    border-top-right-radius: 5px;
    font-size: 14px;
    position: fixed;
    bottom: 78px;
}

.loading {
    margin-left: 10px;
}

.loading span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffd957;
    display: inline-block;
    animation: dots 2s infinite ease-in-out;
}

.loading span:nth-child(2) {
    background-color: #57ffa0;
    animation-delay: 0.4s;
}

.loading span:nth-child(3) {
    background-color: #ff8b57;
    animation-delay: 0.8s;
}

@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}

/* ////// show list sticker ,box send message and chat bar */

.show-list-sticker {
    display: none;
    position: fixed;
    background-color: #ffff;
    bottom: 78px;
    left: 10vh;
    border-radius: 8px;
    padding: 5px;
    height: 400px;
    width: 350px;
    box-shadow: 1px 1px 1px rgb(165, 165, 165);
    overflow-y: scroll;
}

.show-list-sticker::-webkit-scrollbar {
    display: none;
}

.sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(124, 124, 124);
    margin-bottom: 10px;
}

.sticker img {
    cursor: pointer;
    width: 85px;
    height: auto;
}

.sticker img:hover {
    background-color: rgb(216, 216, 216);
}

.chatbar {
    margin-bottom: 4px;
}

.chatbar i {
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.chatbar i:active {
    transform: translateY(2px);
}

.box-send-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-message {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
    border: none;
}

.input-message:focus {
    outline: none;
}

.box-send-message button {
    background: url('https://res.cloudinary.com/soicondibui/image/upload/v1642665781/sosichat/icon/send_usggh4.png')
        no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 26px;
    color: rgb(35, 78, 218);
    align-items: center;
}

/* .btn-send-message i {
    cursor: pointer;
    color: rgb(32, 137, 235);
    font-size: 30px;
    padding: 6px;
    margin-left: 10px;
} */

/* /////////////////////////////////////////////////////////// */

.information {
    width: 10vh;
    /* width: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 0.1px rgb(143, 142, 142);
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: solid 1px rgb(145, 145, 145); */
}

.control i {
    right: 0;
    cursor: pointer;
    margin-left: 20vh;
    font-size: 26px;
}

.avatar-user {
    left: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 10vh;
    min-width: 10vh;
    cursor: pointer;
}

.control img {
    height: 48px;
    width: auto;
    border-radius: 50%;
    border: solid 0.5px pink;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
}

.option button {
    outline: none;
    border: solid 1px rgb(81, 223, 255);
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(255, 215, 230);

    white-space: nowrap;
    text-align: center;

    font-size: 15px;
}

.option button:hover {
    background-color: rgb(250, 193, 214);
}

.option button:active {
    transform: translateY(1px);
}

/* /////////////////////////////////// */

.list-room {
    /* padding: 15px 0; */
    height: 100%;
    overflow-y: scroll;
}

.list-room::-webkit-scrollbar {
    display: none;
}

.list-room a {
    color: #000;
}

.list-room a:hover {
    text-decoration: none;
    color: #000;
}

.room-information {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 0;
    border-bottom: solid 0.1px rgb(172, 171, 171);
}

.room-information:hover {
    background-color: rgb(228, 228, 228);
}

.content-room {
    display: none;
}

.content-room h6 {
    font-size: 17px;
}

.content-room p {
    font-size: 15px;
    max-width: 40vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.avatar-room {
    width: 10vh;
    display: flex;
    justify-content: center;
}

.room-information img {
    position: relative;
    height: 48px;
    width: auto;
    border-radius: 50%;
    border: solid 1px #000;
}

/* /////////////////////////////////// */

.report-error {
    cursor: pointer;
    bottom: 0;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.report-error img {
    position: relative;
    height: 30px;
    width: auto;
}

.report-error h6 {
    display: none;
    margin-top: 5px;
}

/* ///////// set size browser ////////////// */

@media screen and (min-width: 1000px) {
    .information {
        width: 70vh;
    }

    .control {
        justify-content: center;
    }

    .content-room {
        margin: 10px 0 0 10px;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .report-error h6 {
        display: block;
    }

    .message-content {
        max-width: 70vh;
    }

    .show-list-sticker {
        left: 53vh;
    }

    .just-mini-screen {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .option {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .option {
        display: none;
    }

    /* .content-room {
        display: block;
    } */
}

@media screen and (max-width: 400px) {
    .option {
        display: none;
    }

    .report-error {
        display: none;
    }

    .message-content {
        min-width: 20vh;
        max-width: 45vh;
    }
}
